<!-- TODO: Remove this page. When removing this, also remove login.js, and any references to loginMessage -->

<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="https://localhost:10001/OAuth2/Token" method="post">
        <div>
            <label for="url">Host URL</label>
            <input name="url" id="url" />
        </div>
        <div>
            <label for="username">Username</label>
            <input name="username" id="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" id="password" type="password" />
        </div>
        <div>
            <input type="button" id="signinSubmit" name="signinSubmit" value="Sign In">
        </div>
    </form>
        
    <script src="/../jquery.js"></script>
    <script src="../messages/logout-request.js"></script>
    <script src="../messages/login-set-server-request.js"></script>
    <script src="../messages/login-status-request.js"></script>
    <script src="../messages/default-login-request.js"></script>
    <script src="login.js"></script>
</body>
</html> -->