<html>
<head>
</head>
<body style="margin: 18px; height: 710px; background: rgba(255,255,255,0); overflow-y: hidden; overflow-x: hidden" class="">
    <script src="translate.js" type="text/javascript"></script>
    <script class="" src="/jquery.js"></script>
    <script class="" src="/data/ppass/password-entry.js"></script>
    <script class="" src="/data/ppass/folder-data.js"></script>
    <script class="" src="/messages/request-prompts-message.js"></script>
    <script class="" src="/messages/save-prompt-message.js"></script>
    <script class="" src="/messages/never-save-message.js"></script>
    <script class="" src="/messages/folders-update-request-message.js"></script>
    <script class="" src="/messages/cached-folders-request-message.js"></script>
    <script class="" src="/messages/get-admin-settings-message.js"></script>
    <script class="" src="/messages/iframe-change-request.js"></script>
    <script src="message-wrapper.js"></script>
    <!--TOTP Code-->
    <script src="sha.js"></script>
    <script src="totp.js"></script>

    <script class="" src="/content-scripts/save-prompt.js"></script>
    <script src="message-wrapper.js"></script>
    <script class="" src="/content-scripts/edit-form.js"></script>
    <link class="" href="/styles/ppass-styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel="stylesheet" />
</body>

</html>
