<div class="ppass-credential-entry-info-grid" data-template-bind='[{"attribute": "id", "value": "id"}, {"attribute": "index", "value": "index"}, {"attribute": "credIdents", "value": "credIdents"}]'>
    <div data-innerHTML="entryTitle" class="entry-title ppass-sub-text-1 ppass-grey"></div>
    <div data-innerHTML="entryUsername" class="entry-username ppass-sub-text-1 ppass-blue"></div>
    <div data-innerHTML="entryFolder" class="entry-folder ppass-sub-text-1-small"></div>
    <div class="entry-more">
        
         <div class="ppass-credential-login-actions btn-group">
            <button class="prompt-action-button ppass-action-button" type="button" id="menuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown">
                <div data-class="dropdownClasses" aria-labelledby="menuButton">
                  <a class="dropdown-item" name="fill">__MSG_fill__</a>
                  <a class="dropdown-item" name="copy-user">__MSG_copyUsername__</a>
                  <a class="dropdown-item" name="copy-pass" data-template-bind='[{"attribute": "credentialindex", "value": "index" }]'>__MSG_copyPassword__</a>
                  <a class="dropdown-item" name="copy-totp" data-template-bind='[{"attribute": "credentialindex", "value": "index" }]'>__MSG_copyTotpCode__</a>
                  <a class="dropdown-item" name="edit">__MSG_edit__</a>
                </div>
              </div>
        </div>
    </div>
</div>